.css-kwowz4 {
  visibility: visible;
  position: absolute;
  bottom: 3.5px;
  right: 14px;
  color: black;
  background-color: white;
  border-color: white;
  opacity: 0.8;
  border-radius: 15px;
  font-size: 11px;
  margin: 0px;
  padding: 0 4px;
}
.css-12j82s1 {
  left: 20px;
  bottom: 5px;
}
.css-12j82s1 .arrow {
  display: none;
}
.css-1cv7v26 .arrow {
  display: none;
}









.css-kwowz4 {
  visibility: visible;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  background-color: white;
  border-color: white;
  opacity: 0.8;
  visibility: visible;
  border-radius: 15px;
  font-size: 11px;
  margin: 0px;
  padding: 0px 4px;
}
.css-12j82s1 .arrow {
  display: none;
}
.css-1cv7v26 .arrow {
  display: none;
}









.css-kwowz4 {
  visibility: visible;
  position: absolute;
  bottom: 2%;
  right: 2%;
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
  visibility: visible;
  border-radius: 15px;
  font-size: 11px;
  margin: 0px;
  padding: 0px 4px;
  box-shadow: none;
}
.css-12j82s1 {
  left: 20px;
  bottom: 4px;
  color: #000;
}
.css-12j82s1 .arrow {
  display: none;
}
.css-1cv7v26 .arrow {
  display: none;
}